services:
  reservations:
    build:
      context: .
      dockerfile: ./apps/reservations/Dockerfile
      target: production
    env_file:
      - ./apps/reservations/.env
    ports:
      - "3000:3000"

  auth:
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
      target: production
    env_file:
      - ./apps/auth/.env
    ports:
      - "3001:3001"

  mongo:
    image: mongo
