version: "3.9"

services:
  reservations:
    build:
      context: .
      dockerfile: ./apps/reservations/Dockerfile
      target: production
    env_file:
      - ./apps/reservations/.env
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  auth:
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
      target: production
    env_file:
      - ./apps/auth/.env
    ports:
      - "3001:3001"
    depends_on:
      - mongo

  payments:
    build:
      context: .
      dockerfile: ./apps/payments/Dockerfile
      target: production
    env_file:
      - ./apps/payments/.env
    depends_on:
      - mongo

  notifications:
    build:
      context: .
      dockerfile: ./apps/notifications/Dockerfile
      target: production
    env_file:
      - ./apps/notifications/.env
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
